Repository pagopa/io-cdc, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, internal, docs, ci, infra, changeset

.github/labeler.yml:

backend: apps/backend-func/**/*
frontend: apps/frontend/**/*
internal: packages/**/*
docs: docs/**/*
ci: .github/workflows/**/*
infra: infra/**/*
changeset: .changeset/**/*

chore: regenerate yarn lock
  yarn.lock
Labels: none

feat: update ui tests
  packages/ui/lib/components/assistance-info/__tests__/__snapshots__/AssistanceInfo.test.tsx.snap
  packages/ui/lib/components/card-carousel/__tests__/__snapshots__/CardCarousel.test.tsx.snap
  packages/ui/lib/components/checkbox-list/__tests__/CheckboxList.test.tsx
  packages/ui/lib/components/dialog/__tests__/__snapshots__/Dialog.test.tsx.snap
  packages/ui/lib/components/empty-state/__tests__/__snapshots__/EmptyState.test.tsx.snap
  packages/ui/lib/components/floating-button/__tests__/__snapshots__/FloatingButton.test.tsx.snap
  packages/ui/lib/components/icon/__tests__/__snapshots__/Icon.test.tsx.snap
  packages/ui/lib/components/list-item-action/__tests__/__snapshots__/ListItemAction.test.tsx.snap
  packages/ui/lib/components/loader/Dot.tsx
  packages/ui/lib/components/loader/Spinner.tsx
  packages/ui/lib/components/loader/__tests__/Dot.test.tsx
  packages/ui/lib/components/loader/__tests__/Loader.test.tsx
  packages/ui/lib/components/loader/__tests__/Spinner.test.tsx
  packages/ui/lib/components/logo/Logo.tsx
  packages/ui/lib/components/logo/__tests__/LogoIPatente.test.tsx
  packages/ui/lib/components/logo/__tests__/__snapshots__/LogoIPatente.test.tsx.snap
  packages/ui/lib/components/logo/index.ts
  packages/ui/lib/components/logo/svg/LogoIPatente.tsx
  packages/ui/lib/components/logo/svg/LogoInitiativeExpired.tsx
  packages/ui/lib/components/logo/svg/originals/LogoIPatente.svg
  packages/ui/lib/components/logo/svg/originals/LogoInitiativeExpired.svg
  packages/ui/lib/components/top-bar/TopBar.tsx
Labels: internal

chore: removed storybook
  packages/ui/package.json
  yarn.lock
Labels: internal

chore: add formatter
  .vscode/settings.json
  apps/frontend/.prettierrc
  apps/frontend/eslint.config.js
  apps/frontend/package.json
  apps/frontend/src/App.tsx
  apps/frontend/src/components/Layout/index.tsx
  apps/frontend/src/features/app/dto.ts
  apps/frontend/src/features/app/mock.ts
  apps/frontend/src/features/app/model.ts
  apps/frontend/src/features/app/selectors.ts
  apps/frontend/src/features/app/services.ts
  apps/frontend/src/features/app/utils.ts
  apps/frontend/src/features/store.ts
  apps/frontend/src/hooks/store.ts
  apps/frontend/src/index.css
  apps/frontend/src/main.tsx
  apps/frontend/src/pages/ExpiredInitiative/constants.ts
  apps/frontend/src/pages/ExpiredInitiative/index.tsx
  apps/frontend/src/pages/Feedback/index.tsx
  apps/frontend/src/pages/Home/index.tsx
  apps/frontend/src/pages/Home/routes.tsx
  apps/frontend/src/pages/SelectYear/index.tsx
  apps/frontend/src/utils/appRoutes.ts
  apps/frontend/tsconfig.json
  apps/frontend/vite.config.ts
  yarn.lock
Labels: frontend

chore: remove logo from ui exports
  packages/ui/lib/components/index.ts
Labels: internal

chore: insert initiative expired logo
  apps/frontend/src/pages/ExpiredInitiative/constants.ts
  apps/frontend/src/pages/ExpiredInitiative/index.tsx
  packages/ui/lib/components/icon/Icon.tsx
  packages/ui/lib/components/icon/svg/IconInitiativeExpired.tsx
  packages/ui/lib/components/icon/svg/originals/IconInitiativeExpired.svg
Labels: frontend, internal
