Repository pagopa/io-cdc, pull requests merged in 2025-09, with the labels that each got.

#50 Added PK to audit logs
  .changeset/rich-pants-clap.md
  apps/backend-func/src/functions/fcb.ts
  apps/backend-func/src/utils/audit_logs.ts
Labels: changeset, backend

#52 [#IOBP-1965] Raised Cosmos collections' RUs
  infra/resources/_modules/cosmos_db/cosmos_db.tf
  infra/resources/prod/tfmodules.lock.json
Labels: infra

#55 [#IOBP-1997] Moved backend to prov env
  .changeset/free-crabs-stand.md
  apps/backend-func/src/clients/cdc.ts
  apps/backend-func/src/repository/card_request_repository.ts
  apps/backend-func/src/repository/request_audit_repository.ts
  apps/support-func/src/repository/card_request_repository.ts
  apps/support-func/src/repository/request_audit_repository.ts
  infra/resources/_modules/cosmos_db/cosmos_db.tf
Labels: infra, changeset, backend

#60 [#IOBP-2021] Added L2 support function
  .changeset/four-islands-smell.md
  apps/support-func/api/internal.yaml
  apps/support-func/src/functions/__tests__/requests.test.ts
  apps/support-func/src/functions/requests.ts
  apps/support-func/src/main.ts
Labels: changeset

#63 Fix typo
  apps/frontend/src/App.tsx
  apps/frontend/src/components/RequestLoader/index.tsx
  apps/frontend/src/features/app/services.ts
  apps/frontend/src/hooks/index.ts
  apps/frontend/src/hooks/useGetSession.ts
  apps/frontend/src/hooks/useLoadYears.ts
  apps/frontend/src/pages/Authorize/index.tsx
  apps/frontend/src/pages/Authorize/routes.tsx
  apps/frontend/src/pages/ExpiredInitiative/constants.tsx
  apps/frontend/src/pages/ExpiredInitiative/index.tsx
  apps/frontend/src/pages/Feedback/constants.ts
  apps/frontend/src/pages/SelectYear/index.tsx
  apps/frontend/src/utils/appRoutes.ts
  packages/ui/lib/components/checkbox-list/CheckboxList.tsx
Labels: internal, frontend

#64 Hotfix session token
  apps/frontend/src/App.tsx
  apps/frontend/src/features/app/services.ts
  apps/frontend/src/hooks/useLoadYears.ts
Labels: frontend

#66 Scaling for prod
  infra/resources/_modules/backend_func/autoscaler.tf
  infra/resources/_modules/cosmos_db/cosmos_db.tf
Labels: infra

#68 [#IOBP-2031] Considered a date to end the registrations.
  .changeset/light-showers-dig.md
  apps/backend-func/src/config.ts
  apps/backend-func/src/functions/get-years.ts
  apps/backend-func/src/main.ts
  infra/resources/_modules/backend_func/locals.tf
Labels: infra, changeset, backend

#72 Feat/expired feedback
  .changeset/common-knives-wish.md
  apps/frontend/src/hooks/useLoadYears.ts
Labels: changeset, frontend

#70 chore: cache session
  .changeset/shaky-jars-beg.md
  apps/frontend/package.json
  apps/frontend/src/features/app/services.ts
  apps/frontend/src/features/auth/reducer.ts
  apps/frontend/src/features/auth/selectors.ts
  apps/frontend/src/features/store.ts
  apps/frontend/src/hooks/useGetSession.ts
  apps/frontend/src/main.tsx
  apps/frontend/src/pages/Unauthorized/index.tsx
  yarn.lock
Labels: changeset, frontend, chore

#75 Removed load test
  .changeset/thirty-pillows-remain.md
  apps/backend-func/src/functions/load-test.ts
  apps/backend-func/src/main.ts
Labels: changeset, backend
