Repository pagopa/io-cdc, pull requests merged in 2025-08, with the labels that each got.

#36 [IOBP-1911] Fix cdc request application - FE
  apps/frontend/.env.development
  apps/frontend/src/components/Layout/index.tsx
  apps/frontend/src/features/app/api.ts
  apps/frontend/src/features/app/model.ts
  apps/frontend/src/features/app/services.ts
  apps/frontend/src/hooks/useLoadYears.ts
  apps/frontend/src/pages/ExpiredInitiative/constants.ts
  apps/frontend/src/pages/Feedback/constants.ts
  apps/frontend/src/pages/Home/index.tsx
  apps/frontend/src/pages/SelectYear/index.tsx
  packages/mixpanel/src/mixpanel.ts
  packages/ui/lib/components/card-info/CardInfo.tsx
  packages/ui/lib/components/checkbox-list/CheckboxList.tsx
  packages/ui/lib/components/icon/Icon.tsx
  packages/ui/lib/components/icon/svg/IconHourglass.tsx
  packages/ui/lib/components/icon/svg/IconTimeout.tsx
  packages/ui/lib/components/icon/svg/originals/IconHourglass.svg
  packages/ui/lib/components/icon/svg/originals/IconTimeout.svg
  packages/ui/lib/components/loader/Dot.tsx
  packages/ui/lib/components/loader/Spinner.tsx
  packages/ui/lib/components/operation-result/OperationResult.tsx
  packages/ui/lib/components/operation-result/__tests__/__snapshots__/OperationResult.test.tsx.snap
Labels: internal, frontend

#45 Add keyvault keys permissions to cicd identities
  infra/repository/rbac.tf
Labels: infra

#46 [#IOBP-1955] Added audit logs logic
  apps/backend-func/package.json
  apps/backend-func/src/__mocks__/blob.mock.ts
  apps/backend-func/src/config.ts
  apps/backend-func/src/functions/__tests__/fcb.test.ts
  apps/backend-func/src/functions/fcb.ts
  apps/backend-func/src/main.ts
  apps/backend-func/src/utils/audit_logs.ts
  infra/resources/_modules/backend_func/locals.tf
  infra/resources/_modules/backend_func/variables.tf
  infra/resources/prod/backend_func.tf
  infra/resources/prod/data.tf
  yarn.lock
Labels: infra, backend

#47 Update storage account module to fix unwanted CMK deactivation
  infra/resources/_modules/backend_func/README.md
  infra/resources/_modules/backend_func/locals.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/tfmodules.lock.json
Labels: infra
