Repository pagopa/io-cdc, pull requests merged in 2025-05, with the labels that each got.

#1 [#IOBP-1590] Boilerplate for backend functions and fims sdk
  .github/workflows/deploy-backend-func.yaml
  .node-version
  apps/backend-func/README.md
  apps/backend-func/api-lint.sh
  apps/backend-func/api/internal.yaml
  apps/backend-func/eslint.config.mjs
  apps/backend-func/host.json
  apps/backend-func/local.settings.json.example
  apps/backend-func/package.json
  apps/backend-func/src/config.ts
  apps/backend-func/src/functions/info.ts
  apps/backend-func/src/main.ts
  apps/backend-func/src/middlewares/.keep
  apps/backend-func/src/models/.keep
  apps/backend-func/src/utils/errors.ts
  apps/backend-func/tsconfig.json
  infra/resources/_modules/backend_func/backend_func.tf
  packages/fims-sdk/.gitignore
  packages/fims-sdk/.prettierignore
  packages/fims-sdk/README.md
  packages/fims-sdk/eslint.config.mjs
  packages/fims-sdk/lib/index.ts
  packages/fims-sdk/lib/oidc-client/__tests__/oidc-client.test.ts
  packages/fims-sdk/lib/oidc-client/index.ts
  packages/fims-sdk/lib/oidc-client/oidc-client.ts
  packages/fims-sdk/package.json
  packages/fims-sdk/tsconfig.json
  packages/fims-sdk/tsconfig.node.json
  packages/fims-sdk/vite.config.ts
  packages/fims-sdk/vitest.config.js
  packages/typescript-config-node/node20.json
  packages/typescript-config-node/package.json
  packages/typescript-config-node/tsconfig.json
  yarn.lock
Labels: infra, ci, internal, backend

#3 [#IOBP-1532,#IOBP-1526] Schermata annualita' / iniziativa terminata
  apps/frontend/package.json
  apps/frontend/src/App.tsx
  apps/frontend/src/components/Layout/index.tsx
  apps/frontend/src/main.tsx
  apps/frontend/src/pages/ExpiredInitiative/constants.ts
  apps/frontend/src/pages/ExpiredInitiative/index.tsx
  apps/frontend/src/pages/Feedback/index.tsx
  apps/frontend/src/pages/Home/index.tsx
  apps/frontend/src/pages/SelectYear/index.tsx
  apps/frontend/src/utils/appRoutes.ts
  packages/ui/.prettierignore
  packages/ui/.yarn/install-state.gz
  packages/ui/lib/components/assistance-info/__tests__/__snapshots__/AssistanceInfo.test.tsx.snap
  packages/ui/lib/components/card-carousel/__tests__/__snapshots__/CardCarousel.test.tsx.snap
  packages/ui/lib/components/card-info/__tests__/__snapshots__/CardInfo.test.tsx.snap
  packages/ui/lib/components/checkbox-list/CheckboxList.tsx
  packages/ui/lib/components/checkbox-list/index.ts
  packages/ui/lib/components/consent-view/__tests__/__snapshots__/ConsentView.test.tsx.snap
  packages/ui/lib/components/dialog/__tests__/__snapshots__/Dialog.test.tsx.snap
  packages/ui/lib/components/empty-state/__tests__/__snapshots__/EmptyState.test.tsx.snap
  packages/ui/lib/components/floating-button/__tests__/__snapshots__/FloatingButton.test.tsx.snap
  packages/ui/lib/components/icon/__tests__/__snapshots__/Icon.test.tsx.snap
  packages/ui/lib/components/index.ts
  packages/ui/lib/components/list-item-action/__tests__/__snapshots__/ListItemAction.test.tsx.snap
  packages/ui/lib/components/loader/Loader.tsx
  packages/ui/lib/components/loader/index.ts
  packages/ui/lib/components/logo/Logo.tsx
  packages/ui/lib/components/logo/__tests__/__snapshots__/LogoIPatente.test.tsx.snap
  packages/ui/lib/components/logo/svg/LogoInitiativeExpired.tsx
  packages/ui/lib/components/logo/svg/originals/LogoInitiativeExpired.svg
  packages/ui/lib/components/operation-result/__tests__/__snapshots__/OperationResult.test.tsx.snap
  packages/ui/lib/components/page-header/__tests__/__snapshots__/PageHeader.test.tsx.snap
  packages/ui/lib/components/progress-bar/__tests__/__snapshots__/ProgressBar.test.tsx.snap
  packages/ui/lib/components/section-title/SectionTitle.tsx
  packages/ui/lib/components/section-title/__tests__/SectionTitle.test.tsx
  packages/ui/lib/components/section-title/__tests__/__snapshots__/SectionTitle.test.tsx.snap
  packages/ui/lib/components/table/__tests__/__snapshots__/Table.test.tsx.snap
  packages/ui/lib/components/top-bar/__tests__/__snapshots__/TopBar.test.tsx.snap
  packages/ui/lib/index.ts
  packages/ui/lib/theme.ts
  packages/ui/yarn.lock
  yarn.lock
Labels: internal, frontend

#10 Upgrade Bootstrap module to get new Opex role
  infra/repository/.terraform.lock.hcl
  infra/repository/README.md
  infra/repository/locals.tf
  infra/repository/main.tf
Labels: infra

#12 [#IOBP-1682] Expose api to apim platorm
  infra/resources/_modules/backend_func/README.md
  infra/resources/_modules/backend_func/api_cdc.tf
  infra/resources/_modules/backend_func/backend_func.tf
  infra/resources/_modules/backend_func/data.tf
  infra/resources/_modules/backend_func/locals.tf
  infra/resources/_modules/backend_func/policies/_base_policy.xml
  infra/resources/_modules/backend_func/policies/v1/_base_policy.xml
  infra/resources/_modules/backend_func/variables.tf
  infra/resources/_modules/cdn/README.md
  infra/resources/_modules/cosmos_db/README.md
  infra/resources/_modules/cosmos_db/outputs.tf
  infra/resources/_modules/key_vaults/README.md
  infra/resources/_modules/storage_fe/README.md
  infra/resources/_modules/storage_fe/outputs.tf
  infra/resources/_modules/storage_fe/storage_fe.tf
  infra/resources/prod/.terraform.lock.hcl
  infra/resources/prod/README.md
  infra/resources/prod/backend_func.tf
  infra/resources/prod/data.tf
  infra/resources/prod/tfmodules.lock.json
Labels: infra
